// out: main.css, sourcemap: false, compress: true

@unit: 12px;
@color2: #110F2E;
// @color3: #66FF80; //vert
@color3:#110F2E;
@color4: blue;

 // @color4: #94D1FF; //bleu

html, body{
  padding: 0px;
  height: 100%;
  overflow-y: hidden;
  ::-moz-selection{
      color: white;
      background: blue;
  }
  ::selection{
    color: white;
    background: blue;
  }
}

@font-face{
  font-family: "bien";
  src: url("fontes/BienchenSAS-Regular1104.ttf");
}

@font-face{
  font-family: "oldStandard";
  src: url("fontes/OldStandard-Regular.ttf");
}

@font-face{
  font-family: "oldS-round";
  src: url("fontes/OldS-round.otf");
}

@font-face{
  font-family: 'oldS-Italic';
  src: url('fontes/OldStandard-Italic.ttf');
}

@font-face{
  font-family: 'iA-regular';
  src: url('fontes/CutiveMono/CutiveMono-Regular.ttf')
}
@font-face{
  font-family: 'iA-regularItalic';
  src: url('fontes/iA/iAWriterDuospace-RegularItalic.ttf')
}

@font-face{
  font-family: 'select-list';
  src: url('fontes/CutiveMono-Regular-fixed-20.otf');
}

@font-face {
  font-family: 'round';
  src: url('fontes/round/OldRound-30-1-1.ttf');
}

@font-face {
  font-family: 'round-hover';
  src: url('fontes/round/OldRound-30-hover.ttf');
}
@font-face {
  font-family: 'round-nonselect';
  src: url('fontes/round/OldRound-30-nonselect.ttf');
}

body{
  .menuMobile{
    display: none;
  }
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
  padding: 0px;
  background: white;
  h1{
    font-family: "bien";
    font-size: 1vw;
    letter-spacing: 0.1vw;
  }
  #actu{
    background: rgba(0, 0, 255, 0.8);
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    color:@color4;
    font-family:"iA-regular";
    h1{
      color: white;
      font-family:"oldStandard";
      font-size: @unit*6;
      text-transform: uppercase;
      padding: @unit;
      margin: @unit;
      display: inline-block;
      position: fixed;
      right: @unit*2;
      font-weight: lighter;
      z-index: 25;
      color: blue;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: blue;
    }
    @keyframes blinker {
      60% { opacity: 0; }
    }
    h1:hover{
      //animation: blinker 0.02s linear infinite;
      color: @color2;
      cursor: pointer;
      outline: 0;
    }
    ul{
      background: white;
      padding: @unit;
      outline: 1px solid;
      margin-top: -@unit/2;
      z-index: 10;
      position: relative;
      display: inline-block;
      li.title{
        text-transform: uppercase;
        font-family: "bien";
        letter-spacing: 3px;
      }
      li{
        display: inline;
        color: @color3;
        padding-bottom: @unit;
        sup{
          vertical-align: middle;
        }
        p, img{
          display: none;
        }
        img{
          width: 90%;
        }
      }
      li:after{
        content:' ⦚ ';
        color: @color4;
      }
      li:nth-last-of-type(1):after{
        content:'';
      }
      li:nth-last-of-type(2):after{
        content:'';
      }
      .btnPlus{
        text-decoration: none;
        cursor: pointer;
        .up{
          display: none;
        }
      }
      .btnPlus:hover{
        animation: blinker 0.2s linear infinite;
      }
    }
    ul.open{
      margin-left: 30px;
      width: 50%;
      font-size: 1.8vw;
    }
    ul:hover{
      z-index: 20;
      position: relative;
      cursor: pointer;
      outline: 2px solid;
    }
    p:first-of-type{
      padding-top: @unit;
    }
    p{
      font-family: "oldStandard";
      font-size: 1.5vw;
      line-height: 1.9vw;
    }
    img{
      margin-top: @unit;
    }
  }
  section{
    width: 0;
    padding: @unit;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  section#blog{
    article.behind{
      background: white;
      outline: 1px solid @color4;
      h2,
      h1{
        color: @color4;
      }
    }
    article.behindHover{
      background: white;
      outline: 1px solid @color4;
      h2,
      h1{
        color: @color4;
      }
    }
  }

  section#projets{
    article.behind{
      opacity: 1;
      position: fixed;
      .image{
        background: @color4;
        border-radius: 3px;
        img{
          mix-blend-mode: screen;
          -webkit-filter: grayscale(100%) contrast(120%);
          filter: grayscale(100%) contrast(120%);
          opacity: 1;
          border-radius: 3px;
        }
      }
      h1{
        letter-spacing: 3px;
        color: @color4;
        padding-bottom: 4px;
        border-bottom: 2px solid @color4;
        // text-shadow: 1px 1px 1px @color2;
      }
    }
    article.behindHover{
      position: fixed;
            //background-origin: content-box, padding-box;
      height: @unit*10;
      width: auto;
      // background: @color4;
      //border-radius: 150px;
      h1{
        color: @color2;
        padding-bottom: 4px;
        border-bottom: 2px solid @color2;
      }
      img{
        // -webkit-clip-path: circle(35.0% at 66% 35%);
        // clip-path: circle(35.0% at 66% 35%);
        // mix-blend-mode: screen;
         -webkit-filter: grayscale(100%) contrast(120%);
         filter: grayscale(100%) contrast(120%);
         box-shadow: 2px 2px @color4;
         opacity: 1;
      }
      .clone{
        position: absolute;
      }
    }
  }

  section#projets,
  section#projet,
  section#documentation,
  section#blogPost,
  section#menu{
    a{
      text-decoration: none;
      color:@color2;
    }
    img{
      width: 90%;
    }
    article{
      margin: @unit/2 0;
      .metas{
        padding: @unit;
      }
    }
    .letexte{
      .en{
        display: none;
      }
    }
    .grid{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: calc(100% ~'- 20px');
      .grid_item,
      .grid_sizer{
        float: left;
        width: 25%;
        margin-bottom: 10px;
        a{
          width: calc(100% ~'-' @unit);
          padding: 0 @unit/0;
          display: block;
          img,
          h1{
            width: 95%;
            margin: 2.5%;
            font-size: 27px;
            text-transform: uppercase;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            text-align: center;
          }
        }
        a:hover{
              img{
                mix-blend-mode: screen;
                -webkit-filter: grayscale(100%) contrast(120%);
                filter: grayscale(100%) contrast(120%);
                opacity: 1;
                box-shadow: 2px 2px @color4;
              }
          h1{
            padding-bottom: 4px;
            border-bottom: 2px solid @color2;
          }
        }
      }
      .grid_item[class^="projet workshops"]{
        h1{
          // transform: skewX(40deg);
        }

      }
    }
      article.focus{
        width: calc(100% ~'-' @unit*2);
        display: block;
      }
    }

  section#docs{
    // background: @color2;
    padding-bottom: @unit*2;
    .grid{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      article:nth-of-type(odd){
        h1 {
          font-size: 38px;
          color: @color2;
          text-align: right;
        }
      }
      article:nth-of-type(even){
        h1 {
          font-size: 38px;
          color: @color2;
          text-align: left;
        }
      }

      article.behind{
        h1 {
          font-family: 'round-nonselect';
        }
        .image{
          filter: contrast(120)!important;
          -webkit-filter: contrast(120);
        }
      }
      article:hover,
      .behindHover {
        z-index: 2;
          h1{
            font-family: "round-hover";
            color: blue;
          }
          .image{
            background: blue;
            float: left;
            img {
              filter: grayscale(1) contrast(120%)!important;
              -webkit-filter: grayscale(1) contrast(120%); /* Safari 6.0 - 9.0 */
              mix-blend-mode: screen;
            }
          }
      }
      article{
        width: 100%;
        height: auto;
        display: inline;
        margin: 0px 0px;
        text-align: center;
        a{
          text-decoration: none;
          .bloc-vignettes {
            height: 38px;
            overflow: hidden;
            text-align: left;
            margin-left: 15px;
            width: 48%;
            float: right;
            z-index: -1;
            .image{
              float: left;
              margin-right: 4px;
              img{
                height: 43px;
                filter: grayscale(100%) contrast(120%);
              }
            }
          }
          h1:before{
            content: "∷∷∷ ";
            color: blue;
            font-size: 20px;
          }
          h1{
            line-height: 50px;
            font-family: "oldS-round";
            font-family: "round";
            font-weight: normal;
            text-transform: uppercase;
            width: 50%;
            border: none;
            z-index: 2;
            color: white;
            text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
            font-size: 50px;
            span:nth-of-type(3n+1) {
              font-size: 55px;
              font-family: 'bien';
            }
            span:nth-of-type(3n+2) {
              font-size: 46px;
              font-family: 'select-list';
            }
            span:nth-of-type(3n+3) {
              font-family: 'round-nonselect';
            }
          }
        }
      }
    }
  }

  section#projet,
  section#documentation,
  {
    img.big{
      width: auto;
      max-width: 90%;
      filter: none;
    }
    img.big:hover{
      cursor: nw-resize;
    }
  }

  section#projet,
  section#documentation,
  section#blogPost,
  section#doc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    padding: 0;
    article{
      margin: 0px;
      -webkit-box-flex: 14;
      -ms-flex-positive: 14;
      flex-grow: 14;
      width: 0;
      div.fr,
      div.en{
        margin-bottom: 50px;
      }
    }
    .goBefore,
    .goAfter{
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 0;
    }
  }
  .goBefore{
    top: 0px;
    overflow-x: hidden;
    word-break:break-all;
    font-family: 'iA-regular';
    font-size: 15px;
    border-right: 1px solid blue;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    a{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
      padding: @unit;
      height: 10000px;
      width: auto;
      color: blue;
      cursor: url(fleche_gauche.svg),auto;
      overflow-y: hidden;
      span{
        -webkit-box-flex: 2;
    -ms-flex-positive: 2;
        flex-grow: 2;
      }
    }
    a:hover{
      background: @color2;
      color: white !important;
    }
    .documentation{
      color: blue;
    }
    .blog{
      background: white;
      color: blue;
    }
    .projet{
      color: blue;
    }
    .documentation:after{
      content: "∷∷∷ ";
    }
    .blog:after{
      content: "⸭⸭⸭ ";
    }
    .projet:after{
      content: "⋱⋰⋱ ";
    }
    .titleHover{
      img{
        margin-left: @unit*4;
        -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
        width:@unit*8;
        height: auto;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        z-index: 100;
      }
    }
  }
  .goAfter{
    top: 0px;
    word-break: break-all;
    font-family: 'iA-regular';
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    a{
      display: -webkit-box;
display: -ms-flexbox;
display: flex;
      -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
      padding: @unit;
      height: 10000px;
      width: auto;
      cursor: url(fleche_droite.svg),auto;
      overflow-y: hidden;
      span{
        -webkit-box-flex: 2;
    -ms-flex-positive: 2;
        flex-grow: 2;
      }
    }
    a:hover{
      background:  @color4;
      span{
        color: white;
      }
    }
    .documentation{
      color: blue !important;
      border-bottom: 1px solid blue;
      border-right: 1px solid blue;
      border-left: 1px solid blue;
    }
    .documentation:after{
      content: "∷∷∷ ";
    }
    .blog{
      //background: blue;
      color: blue !important;
      border-bottom: 1px solid blue;
      border-right: 1px solid blue;
      border-left: 1px solid blue;
    }
    .blog:after{
      content: "⸭⸭⸭ ";
    }
    .projet{
      //background: @color2;
      border-bottom: 1px solid blue;
      border-right: 1px solid blue;
      border-left: 1px solid blue;
      color: blue;
    }
    .projet:after{
      content: "⋱⋰⋱ ";
    }
    .titleHover{
      img{
        position: fixed;
        z-index: 2;
        -webkit-box-flex: 2;
    -ms-flex-positive: 2;
        flex-grow: 2;
        width: @unit*8 !important;
        height: auto;
        margin-left: -180px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}
  section#apropos{
    img.claire{
      top: 20%;
      left: 0;
      right: 30%;
      width: 300px;
      margin: auto;
      z-index: 100;
      position: fixed;
    }
    article{
      overflow-x: hidden;
      overflow-y: scroll;
      font-family: "oldStandard";
      font-size: 40px;
      line-height: 45px;
      width: calc(100% ~'-' @unit);
      margin-left: @unit*2;
      margin-right: @unit;
      padding-bottom:@unit*5;
      position: relative;
      border-bottom: initial;
      h1,
      h2{
        color: @color4;
        font-size: 50px;
        margin-bottom: @unit;
      }
      h2{
        margin-top: @unit * 6;
      }
      div{
        width: 90%;
      }
    }
    .letexte{
      .en{
        display: none;
      }
      p{
        text-indent: @unit * 6;
      }
      p:first-child{
        text-indent: 0;
      }
      li{
        margin-left: @unit*4;
        display: block;
        a{
          font-size: .75em;
          font-family: "oldS-round";
          color: blue;
       }
      }
      li:hover,
      li.current{
      }
    }
  }

section#projet,
section#blogPost,
section#apropos,
section#documentations{
  .language{
    position: fixed;
    font-family: "oldStandard";
    bottom: @unit*2;
    color: white;
    width: auto;
    height: @unit*2;
    // left: 2%;
    z-index: 50;
    list-style-type: none;
    li{
      padding: @unit;
      display: inline-block;
      cursor: pointer;
      background: @color4;
      border-radius: 90px;
      height: @unit*1.5;
      margin-left: @unit/2;
    }
    li:hover,
    li.current{
      background: @color2;
    }
  }
}

section#documentation {
  h1{
    font-family: "round";
    font-weight: normal;
    text-transform: uppercase;
    margin-top: @unit;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: @unit;
    margin-bottom: @unit;
    width: 100%;
    border: none;
    z-index: 2;
    color: @color4;
    font-size: 2.5vw;
    text-align: center;
    span:nth-of-type(3n+1) {
      font-size: 3.4vw;
      font-family: 'bien';
    }
    span:nth-of-type(3n+2) {
      font-size: 3.2vw;
      font-family: 'select-list';
    }
    span:nth-of-type(3n+3) {
      font-family: 'round-nonselect';
    }
  }
  h2 {
    font-family: 'round';
    font-size: 2.4vw;
  }
}

section#blogPost,
section#projet {
  h1{
    margin-left:@unit*2;
    margin-right:@unit*2;
    text-align: center;
    font-size: 4.3vw;
    margin-top: @unit;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: @unit;
    margin-bottom: @unit;
    background-color: white;
    color: @color4;
  }
  h2 {
    font-family: 'bien';
    font-size: 2.9vw;
  }
}

section#blogPost,
section#projet,
section#documentation,
{
  padding: 0px;
  a{
    text-decoration: none;
    color: @color3;
  }
  article{
    padding: 0px;
    color: @color2;
    h2{
      margin-left:@unit*2;
      margin-bottom: @unit;
      margin-top: @unit*2;
      text-decoration: underline;
      color: @color2;
      clear: both;
      a{
        font-family: "bien";
        color: @color4;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    h3,
    h4,
    h5,
    h6{
      font-family: 'bien';
      margin-top: @unit;
      margin-bottom: @unit;
      font-size: 2vw;
      margin-left:@unit*2;
      margin-right:@unit*2;
    }
    pre{
      text-indent: 0px;
      margin-bottom: @unit*2;
      margin-left: @unit*2;
      height:auto;
      max-height: 20vh;
      padding: @unit;
      background: @color2;
      overflow-y: auto;
      overflow-x: scroll;
      width: 80%;
      border-radius: 2px;
      code{
        font-family: "iA-regular";
        font-size: 1.2vw;
        color: white;
        padding-left: @unit;
        padding-right: @unit;
      }
    }
    p{
      clear: both;
      width: 90%;
      font-family: 'oldStandard';
      font-size: 1.8vw;
      line-height: 2vw;
      z-index: 1;
      margin-left:@unit*2;
      padding-bottom: @unit;
      img{
        display: inline-block;
        float: left;
        height: auto;
        width: 10%;
        max-width: 90%;
        padding-bottom: @unit;
        padding-top: @unit;
        padding-right: @unit;
        z-index: 10;
        filter: none;
        -webkit-filter: grayscale(1);
        position: relative;
        // figcaption{
        //   display: none;
        // }
      }
      img:hover{
        filter: none;
        cursor: se-resize;
      }
      cite::first-line{
        position: relative;
        margin-top: @unit*2;
      }
      cite{
        display: block;
        text-indent: initial !important;
        border-left: 1px solid @color2;
        padding: @unit/2;
        font-family: "iA-regular";
        font-size: 1.5vw;
        line-height: 1.6vw;
        color: @color2;
        word-break: break-word;
        strong{
          font-family: "iA-regular";
          font-weight: bolder;
        }
        a{
          font-family: "iA-regularItalic";
          font-size:  1.1vw;
          color: blue;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      strong{
        margin-top: 40px;
        text-decoration: underline;
        font-family: "oldS-round";
        font-size: 1.7vw;
      }
      em{
        font-family: "oldS-Italic";
      }
      pre{
        text-indent: 0px;
        margin-bottom: @unit*2;
        margin-left: @unit*2;
        height:auto;
        max-height: 20vh;
        padding: @unit;
        background: @color2;
        overflow-y: auto;
        overflow-x: scroll;
        width: 80%;
        border-radius: 2px;
        code{
          font-family: "iA-regular";
          font-size: 1.2vw;
          color: white;
          padding-left: @unit;
          padding-right: @unit;
        }
      }
      a{
        font-family: "oldS-round";
        color: @color4;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    p:nth-of-type(1){
      text-indent: 0px;
    }
    p:nth-of-type(1)::first-letter{
      float:left;
      font-family: "bien";
      text-transform: uppercase;
      font-size: 70px;
      padding-right: 15px;
    }
    ul{
      width: 90%;
      margin-left:@unit*2;
      font-family: "oldStandard";
      font-size: 1.8vw;
      line-height: 2vw;
      margin-bottom: @unit;
      li::before{
      content: "⤫ ";
      margin-left: -25px;
      color: @color4;
      }
      li{
        display: block;
        margin-left: 25px;
        padding-left: 0px;
        em{
          font-family: "oldS-Italic";
        }
        a{
          font-family: "oldS-round";
          color:@color4;
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
    // h3{
    //   font-family:'oldStandard';
    //   font-size: 0.9vw;
    //   line-height: 1.1vw;
    //   float: right;
    //   text-align: right;
    //   display: inline;
    //   width: @unit*20;
    //   margin-top: @unit*4;
    //   padding-right: 1vw;
    //   z-index: 1;
    // }
    // h3:nth-of-type(odd){
    //   float: left;
    //   padding-left: 1vw;
    //   display: inline;
    //   text-align: left;
    // }
    a{
      font-family: "oldS-round";
      color:@color4;
    }
    a:hover{
      text-decoration: underline;
    }
    figcaption::before{
      content: '→ ';
    }
    figcaption.noBefore::before{
      content: ' ';
    }
    figcaption{
      position: relative;
      text-indent: initial;
      text-align: center;
      color: blue;
      font-family: "iA-regular";
      font-size: 17px;
      margin-left: 0px;
      margin-top: 0px;
      display: inline-block;
    }
    ol{
      width: 90%;
      margin-left: @unit*4;
      margin-bottom: @unit;
      counter-reset: test;
      li::before{
        content: counter(test);
        font-family: "iA-regular";
        font-size: 1.2vw;
        margin-left: -25px;
        margin-right: 10px;
        padding: 2px;
        border: 1px solid blue;
        color: blue;
        border-radius: 90px;
        font-weight: bolder;
      }
      li{
        p::first-letter{
          float:initial;
          font-family:"oldStandard";
          text-transform: initial;
          font-size: 1.8vw;
          padding-right: initial;
        }
        clear: both;
        counter-increment: test;
        list-style-type: none;
        font-family: "oldStandard";
        font-size: 1.8vw;
        line-height: 2vw;
        text-indent: initial;
        strong{
          text-decoration: underline;
          font-family: "oldS-round";
          font-size: 1.7vw;
        }
        em{
          font-family: "oldS-Italic";
        }
      }
    }
  }
}

section#documentation,
{
  article{
    h1::before{
      font-size: 2vw;
      content: "∷ ∷ ∷   ";
    }
    h1::after{
      font-size: 2vw;
      content: "   ∷ ∷ ∷";
    }
  }
}

section#projet {
  article{
    h1::before{
      font-size: 2vw;
      content: "⋱⋰⋱   ";
    }
    h1::after{
      font-size: 2vw;
      content: "   ⋰⋱⋰";
    }
    p{
      img{
        filter: initial;
        text-align: center;
        width: auto;
        max-width: 90%;
        float: none;
        height: auto;
      }
      img:hover{
        cursor: initial;
      }
      figcaption::before{
        content:'↳ ';
      }
      figcaption.noBefore::before{
        content: ' ';
      }
      figcaption{
        display: block;
        text-align: left;
      }
    }
  }
}

  section#blog{
    background: blue;
    padding: 0px;
    a{
      text-decoration: none;
      color: inherit;
      display: inline-block;
    }
    article{
      position: relative;
      h1{
        font-family: 'bien';
        letter-spacing: 3px;
        margin-left: @unit;
        height: auto;
        font-size: 5vw;
        cursor:pointer;
        display: inline;
        color:white;
        //width: 100%;
        // padding-bottom: @unit*2;
        // padding-top: @unit*2;
      }
      h2{
        font-family: 'bien';
        letter-spacing: 2px;
        font-size: 1.3vw;
        display: inline-block;
        color: white;
        //font-family: "iA-regular";
        vertical-align:super;
      }
      .date{
        font-family: "iA-regular";
      }
      .vignette{
        width: auto;
        display: inline;
      }
    }
    article:hover{
      width: 100%;
      background: white;
      h1{
        color: blue;
      }
      h2{
        color: blue;
      }
      .vignette{
        margin-left: @unit;
        position: absolute;
        height: 100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        right: 0px;
      }
    }
  }
  section#blogPost{
    .article{
      padding-bottom: @unit;
      h1::before{
        font-size: 2vw;
        content: "⸭⸭⸭   ";
      }
      h1::after{
        font-size: 2vw;
        content: "   ⸭⸭⸭";
      }
      .date{
        font-family: "iA-regular";
        font-size: 1.3vw;
      }
      p,
      figure{
        width: 90%;
        font-family: 'oldStandard';
      img{
        display: block;
        position: relative;
        float: left !important;
        padding-left: 0px;
        width: auto;
        max-width: 60%;
        height:auto;
        padding-bottom: @unit;
        filter: initial;
        cursor: default !important;
      }
      figcaption{
        display: block;
        text-align: left;
      }
     }
     pre{
       clear: none;
       width: auto !important;
       margin-right: @unit*2;
       code{
         clear: none;
         width: auto;
       }
     }
    }
  }

  #nav.infosProjet{
    ul,
    li,
    h1{
      display: inline;
      cursor: pointer;
    }
    li:not(.visible):not(:nth-of-type(1)){
      display: none;
    }
    #documentation{
        display: inline;
      }
  }

  section#nav{
    text-decoration: none;
    line-height: @unit*1.5;
    padding: 10px 10px;
    background: white;
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
    @font-size: 12px;
    a{
      text-decoration: none;
      color: @color2;
    }
    .current{
      ul{
        li.projets:before,
        li.documentations:before,
        li.blog:before{
          color: blue;
        }
      }
      a{
        color: @color4;
        border-radius: 2px;
        span{
          border-top: 1px solid @color4;
          border-bottom: 1px solid @color4;
          margin-top: 2px;
          color: @color4;
        }
        span:nth-last-of-type(1){
          border: none;
        }
      }
    }
    h2{
      margin-top: @font-size;
      margin-bottom: @font-size;
      font-family: "bien";
      letter-spacing: 3px;
      font-size: @font-size*1.5 !important;
      color: @color3;
      display: none;
      padding-top: @unit;
      padding-bottom: @unit;
      outline: 1px solid @color4;
    }
    h2:before {
      content: "- ";
    }
    h2:after{
      content:" -";
    }
    ul,
    li,
    h1{
      display: inline-block;
      cursor: default;
    }
    h1{
      display: inline-block;
      text-transform: uppercase;
      // font-size: @font-size !important;
      font-size: 20px;
      text-indent: 0%;
      padding: 0 5px;
      outline: 1px @color2 solid;
    }
    ul{
      display: inline-block;
      cursor: pointer;
      li{
        padding: 0 0px;
      }
      li.clicked span{
        background: @color2;
        color: white;
        // border-radius: 2px;
      }
      li:hover,
      li.hovered{
        h1{
          span{
          color: @color2;
          background: none;
          }
        }
        span{
          background: blue;
          color: white;
        }
      }
    }
    ul{
      li{
        font-family: 'iA-regular';
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: bold;
        span {
          // border-left: 1px dashed grey;
          display: inline-block;
          text-align: center;
        }
      }
      li::before {
        // font-family: "oldS-round" !important/;
        margin-right: -8px;
      }
      li:hover{
        span {
          cursor: pointer;
        }
      }
    }
    #menu ul{
      color:@color3;
      li{
        display: block;
        font-size: 24px;
        line-height: 24px;
      }
    }
    p{
      font-family: 'rubik-medium';
      line-height: 1.45vw;
      text-indent: @unit*3;
      margin-left: @unit*2;
      margin-right: @unit;
    }
    p:nth-of-type(1){
      padding-top:@unit*2;
    }
    #categories{
      ul.categorie{
        display: inline;
      }
    }
    #documentation{
      display: none;
      article.grid_item{
        height: 45px;
        width: 32%;
        display: inline-block;
        text-align: center;
        margin-top: @unit;
        h1 {
          font-family: 'oldStandard';
          letter-spacing: normal;
          text-transform: none;
          font-size: 0.9vw;
          float: left;
        }
        h1:before{
          content: none;
        }
        img{
          margin: 0 auto;
          height: 100%;
          filter: gray;
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          float: left;
        }
        a{
          text-decoration: none;
          color: @color2;
        }
      }
    }
    .licencescredits{
      position: fixed;
      bottom: 0;
      padding-bottom: @unit / 2;
      font-family: 'iA-regular';
      font-size: 0.75em;
      background: white;
      a{
        text-decoration: underline;
      }
      a:hover{
        color: blue;
      }
      img{
      }
      img.logoFWB{
        width: 60px;
      }
      p{
        font-family: 'iA-regular';
        margin-left: 0px;
        padding-top: 0px;
        text-indent: 0px;
        color: blue;
        a{
          color: blue;
        }
        a:hover{
          color: @color2;
        }
      }
    }
  }
  section#nav{
    #categoriesonePage{
      padding-bottom: 150px;
    }
    #menu{
      h1{
        font-size: 24px;
        margin-bottom: 8px;
      }
      a:visited{
        text-decoration: none;
        color: @color2;
      }
      a:hover{
        color: blue;
      }
      ul{
        li.projets:before,
        li.documentations:before,
        li.blog:before{
          font-size: .75em;
        }
        li.projets:before{
          content: "⋱⋰⋱ ";
        }
        li.documentations:before{
          content: "∷∷∷ ";
        }
        li.blog:before{
          content: "⸭⸭⸭ ";
        }
        li:hover{
          background: none;
          color: initial;
          span{
            background: @color4;
          }
        }
      }
    }
  }
  section#nav.onePage{
    #categoriesonePage ul li:hover span{
      background: none;
      color: initial;
      cursor: initial;
    }
  }


// Scroll bar

[data-simplebar] {
  position:relative;
  z-index:0;
  overflow:hidden;
  -webkit-overflow-scrolling:touch
}

[data-simplebar=init] {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}

.simplebar-scroll-content {
  overflow-x:hidden;
  overflow-y:scroll;
  min-width:100%;
  box-sizing:content-box
}

.simplebar-content {
  overflow-x:scroll;
  overflow-y:hidden;
  box-sizing:border-box;
  min-height:100%
}

.simplebar-track {
  z-index:1;
  position:absolute;
  right:0;
  bottom:0;
  width:@unit*1.5;
  visibility: visible;
}

.simplebar-scrollbar {
  position:absolute;
  min-height:@unit*3;
  width:@unit*6;
  opacity:1;
  -webkit-transition:opacity .2s linear;
  transition:opacity .2s linear;
  background: @color4;
  background-clip:initial
}

section:hover{
  .simplebar-scrollbar {
  cursor: grabbing;
  opacity:1;
  -webkit-transition:opacity 0 linear;
  background:@color4 !important;
  transition:opacity 0 linear
  }
  .simplebar-track.vertical {
    background:@color3
  }
}

.simplebar-track .simplebar-scrollbar.visible {
  opacity:1;
}

.simplebar-track.horizontal {
  left:0;
  width:auto;
  height:11px
}

.simplebar-track.vertical {
  top:0;
  background:@color3;
}


.horizontal.simplebar-track .simplebar-scrollbar {
  right:auto;
  top:0px;
  height:7px;
  min-height:0;
  min-width:10px;
  width:auto;
}
