@media screen and (min-width: 1380px) {
  section#documentation p {
    font-size: 1.5vw;
    line-height: 1.8vw;
  }
  section#blogPost article p,
  section#projet article p,
  section#documentation article p {
    font-size: 1.4vw;
    line-height: 1.7vw;
    width: 80%;
  }
  section#documentation h2 {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 1150px) {
  body section#blogPost .grid,
  body section#menu .grid,
  body section#projet .grid,
  body section#projets .grid {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
  }
  body section#blogPost .grid .grid_item,
  body section#menu .grid .grid_item,
  body section#projet .grid .grid_item,
  body section#projets .grid .grid_item,
  body section#blogPost .grid .grid_sizer,
  body section#menu .grid .grid_sizer,
  body section#projet .grid .grid_sizer,
  body section#projets .grid .grid_sizer {
    width: 50%;
  }
  body section#blogPost .language,
  body section#doc .language,
  body section#projet .language {
    bottom: 36px;
    width: auto;
    height: 12px;
  }
  body section#blogPost .goAfter,
  body section#doc .goAfter,
  body section#projet .goAfter,
  body section#blogPost .goBefore,
  body section#doc .goBefore,
  body section#projet .goBefore {
    display: none;
  }
  body section#blog article h1 {
    font-size: 7vw;
  }
  body section#blog article .date {
    font-size: 2vw;
  }
  body section#blog article .vignette {
    display: none;
  }
  body section#blog article:hover .vignette {
    display: none;
  }
}
@media screen and (max-device-width: 600px) and (orientation: portrait) {
  html,
  body {
    width: 100%;
    overflow-y: scroll;
    height: auto !important;
  }
  html section#nav,
  body section#nav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    height: 20px;
    border-bottom: 1px solid #110F2E;
  }
  html section#nav #menu ul li,
  body section#nav #menu ul li {
    float: left;
  }
  html section#nav #menu ul li h1,
  body section#nav #menu ul li h1 {
    text-align: center;
    display: block;
    outline: none;
  }
  html section#nav #menu ul li h1::before,
  body section#nav #menu ul li h1::before {
    content: '≡ ';
    text-align: left;
    position: absolute;
    left: 12px;
  }
  html section#nav #menu ul li:nth-of-type(1),
  body section#nav #menu ul li:nth-of-type(1),
  html section#nav #menu ul li:nth-of-type(6),
  body section#nav #menu ul li:nth-of-type(6) {
    float: none;
  }
  html section#nav #menu h1,
  body section#nav #menu h1 {
    margin-bottom: 4px;
  }
  html section#nav #menu ul li.blog:before,
  body section#nav #menu ul li.blog:before,
  html section#nav #menu ul li.documentations:before,
  body section#nav #menu ul li.documentations:before,
  html section#nav #menu ul li.projets:before,
  body section#nav #menu ul li.projets:before {
    font-size: 1em;
  }
  html section#nav .categories,
  body section#nav .categories {
    display: none;
  }
  html section#nav #licencescredits.licencescredits,
  body section#nav #licencescredits.licencescredits {
    z-index: -100;
    position: relative;
    padding-top: 24px;
  }
  html section#nav.mobileClicked,
  body section#nav.mobileClicked {
    height: 100%;
  }
  html section#nav.mobileClicked #menu ul li h1::before,
  body section#nav.mobileClicked #menu ul li h1::before {
    content: 'X ';
  }
  html section#blogPost,
  body section#blogPost,
  html section#menu,
  body section#menu,
  html section#projet,
  body section#projet,
  html section#documentation,
  body section#documentation,
  html section#projets,
  body section#projets,
  html section#docs,
  body section#docs {
    z-index: 0;
    position: relative;
    overflow-x: hidden;
    margin-top: 48px;
    width: 100% !important;
  }
  html section#blogPost .simplebar-track.horizontal,
  body section#blogPost .simplebar-track.horizontal,
  html section#menu .simplebar-track.horizontal,
  body section#menu .simplebar-track.horizontal,
  html section#projet .simplebar-track.horizontal,
  body section#projet .simplebar-track.horizontal,
  html section#documentation .simplebar-track.horizontal,
  body section#documentation .simplebar-track.horizontal,
  html section#projets .simplebar-track.horizontal,
  body section#projets .simplebar-track.horizontal,
  html section#docs .simplebar-track.horizontal,
  body section#docs .simplebar-track.horizontal {
    display: none;
    overflow-x: hidden;
  }
  html section#blogPost .grid,
  body section#blogPost .grid,
  html section#menu .grid,
  body section#menu .grid,
  html section#projet .grid,
  body section#projet .grid,
  html section#documentation .grid,
  body section#documentation .grid,
  html section#projets .grid,
  body section#projets .grid,
  html section#docs .grid,
  body section#docs .grid {
    width: calc(100% - 5px);
  }
  html section#blogPost .grid .grid_item,
  body section#blogPost .grid .grid_item,
  html section#menu .grid .grid_item,
  body section#menu .grid .grid_item,
  html section#projet .grid .grid_item,
  body section#projet .grid .grid_item,
  html section#documentation .grid .grid_item,
  body section#documentation .grid .grid_item,
  html section#projets .grid .grid_item,
  body section#projets .grid .grid_item,
  html section#docs .grid .grid_item,
  body section#docs .grid .grid_item,
  html section#blogPost .grid .grid_sizer,
  body section#blogPost .grid .grid_sizer,
  html section#menu .grid .grid_sizer,
  body section#menu .grid .grid_sizer,
  html section#projet .grid .grid_sizer,
  body section#projet .grid .grid_sizer,
  html section#documentation .grid .grid_sizer,
  body section#documentation .grid .grid_sizer,
  html section#projets .grid .grid_sizer,
  body section#projets .grid .grid_sizer,
  html section#docs .grid .grid_sizer,
  body section#docs .grid .grid_sizer {
    width: 100%;
  }
  html section#blogPost,
  body section#blogPost,
  html section#doc,
  body section#doc,
  html section#documentation,
  body section#documentation,
  html section#projet,
  body section#projet {
    z-index: 0;
    position: relative;
    overflow-x: hidden;
    margin-top: 48px;
  }
  html section#blogPost article h1,
  body section#blogPost article h1,
  html section#doc article h1,
  body section#doc article h1,
  html section#documentation article h1,
  body section#documentation article h1,
  html section#projet article h1,
  body section#projet article h1 {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    font-size: 14.5vw;
  }
  html section#blogPost article h2,
  body section#blogPost article h2,
  html section#doc article h2,
  body section#doc article h2,
  html section#documentation article h2,
  body section#documentation article h2,
  html section#projet article h2,
  body section#projet article h2 {
    margin-left: 12px;
    margin-right: 18px;
    margin-top: 12px;
    font-size: 8vw;
  }
  html section#blogPost article h3,
  body section#blogPost article h3,
  html section#doc article h3,
  body section#doc article h3,
  html section#documentation article h3,
  body section#documentation article h3,
  html section#projet article h3,
  body section#projet article h3,
  html section#blogPost article h4,
  body section#blogPost article h4,
  html section#doc article h4,
  body section#doc article h4,
  html section#documentation article h4,
  body section#documentation article h4,
  html section#projet article h4,
  body section#projet article h4,
  html section#blogPost article h5,
  body section#blogPost article h5,
  html section#doc article h5,
  body section#doc article h5,
  html section#documentation article h5,
  body section#documentation article h5,
  html section#projet article h5,
  body section#projet article h5,
  html section#blogPost article h6,
  body section#blogPost article h6,
  html section#doc article h6,
  body section#doc article h6,
  html section#documentation article h6,
  body section#documentation article h6,
  html section#projet article h6,
  body section#projet article h6 {
    font-size: 5.5vw;
  }
  html section#blogPost article pre,
  body section#blogPost article pre,
  html section#doc article pre,
  body section#doc article pre,
  html section#documentation article pre,
  body section#documentation article pre,
  html section#projet article pre,
  body section#projet article pre {
    margin-bottom: 12px;
    margin-left: 12px;
    max-height: 60vh;
  }
  html section#blogPost article pre code,
  body section#blogPost article pre code,
  html section#doc article pre code,
  body section#doc article pre code,
  html section#documentation article pre code,
  body section#documentation article pre code,
  html section#projet article pre code,
  body section#projet article pre code {
    font-family: "iA-regular";
    font-size: 4.5vw;
    line-height: 5.5vw;
  }
  html section#blogPost article figure,
  body section#blogPost article figure,
  html section#doc article figure,
  body section#doc article figure,
  html section#documentation article figure,
  body section#documentation article figure,
  html section#projet article figure,
  body section#projet article figure,
  html section#blogPost article iframe,
  body section#blogPost article iframe,
  html section#doc article iframe,
  body section#doc article iframe,
  html section#documentation article iframe,
  body section#documentation article iframe,
  html section#projet article iframe,
  body section#projet article iframe,
  html section#blogPost article p img,
  body section#blogPost article p img,
  html section#doc article p img,
  body section#doc article p img,
  html section#documentation article p img,
  body section#documentation article p img,
  html section#projet article p img,
  body section#projet article p img,
  html section#blogPost article figure img,
  body section#blogPost article figure img,
  html section#doc article figure img,
  body section#doc article figure img,
  html section#documentation article figure img,
  body section#documentation article figure img,
  html section#projet article figure img,
  body section#projet article figure img {
    overflow-x: hidden;
    max-width: 100% !important;
    float: none;
    width: 100% !important;
  }
  html section#blogPost article p,
  body section#blogPost article p,
  html section#doc article p,
  body section#doc article p,
  html section#documentation article p,
  body section#documentation article p,
  html section#projet article p,
  body section#projet article p {
    width: 90%;
    font-size: 4.5vw;
    line-height: 5.5vw;
    margin-left: 12px;
  }
  html section#blogPost article p cite::first-line,
  body section#blogPost article p cite::first-line,
  html section#doc article p cite::first-line,
  body section#doc article p cite::first-line,
  html section#documentation article p cite::first-line,
  body section#documentation article p cite::first-line,
  html section#projet article p cite::first-line,
  body section#projet article p cite::first-line {
    margin-top: 12px;
  }
  html section#blogPost article p cite,
  body section#blogPost article p cite,
  html section#doc article p cite,
  body section#doc article p cite,
  html section#documentation article p cite,
  body section#documentation article p cite,
  html section#projet article p cite,
  body section#projet article p cite {
    padding: 3px;
    font-size: 4.5vw;
    line-height: 5.5vw;
  }
  html section#blogPost article p cite a,
  body section#blogPost article p cite a,
  html section#doc article p cite a,
  body section#doc article p cite a,
  html section#documentation article p cite a,
  body section#documentation article p cite a,
  html section#projet article p cite a,
  body section#projet article p cite a {
    font-family: "iA-regularItalic";
    font-size: 4vw;
  }
  html section#blogPost article p strong,
  body section#blogPost article p strong,
  html section#doc article p strong,
  body section#doc article p strong,
  html section#documentation article p strong,
  body section#documentation article p strong,
  html section#projet article p strong,
  body section#projet article p strong {
    margin-top: 40px;
    font-size: 4.5vw;
  }
  html section#blogPost article p pre,
  body section#blogPost article p pre,
  html section#doc article p pre,
  body section#doc article p pre,
  html section#documentation article p pre,
  body section#documentation article p pre,
  html section#projet article p pre,
  body section#projet article p pre {
    margin-bottom: 12px;
    margin-left: 12px;
    max-height: 40vh;
  }
  html section#blogPost article p pre code,
  body section#blogPost article p pre code,
  html section#doc article p pre code,
  body section#doc article p pre code,
  html section#documentation article p pre code,
  body section#documentation article p pre code,
  html section#projet article p pre code,
  body section#projet article p pre code {
    font-size: 4.5vw;
    padding-left: 12px;
    padding-right: 12px;
  }
  html section#blogPost article ul,
  body section#blogPost article ul,
  html section#doc article ul,
  body section#doc article ul,
  html section#documentation article ul,
  body section#documentation article ul,
  html section#projet article ul,
  body section#projet article ul {
    margin-left: 12px;
    font-size: 4.5vw;
    line-height: 5.5vw;
  }
  html section#blogPost article ul li::before,
  body section#blogPost article ul li::before,
  html section#doc article ul li::before,
  body section#doc article ul li::before,
  html section#documentation article ul li::before,
  body section#documentation article ul li::before,
  html section#projet article ul li::before,
  body section#projet article ul li::before {
    margin-left: -17px;
  }
  html section#blogPost article ul li,
  body section#blogPost article ul li,
  html section#doc article ul li,
  body section#doc article ul li,
  html section#documentation article ul li,
  body section#documentation article ul li,
  html section#projet article ul li,
  body section#projet article ul li {
    margin-left: 17px;
  }
  html section#blogPost article figcaption,
  body section#blogPost article figcaption,
  html section#doc article figcaption,
  body section#doc article figcaption,
  html section#documentation article figcaption,
  body section#documentation article figcaption,
  html section#projet article figcaption,
  body section#projet article figcaption {
    font-size: 4.5vw;
  }
  html section#blogPost article ol,
  body section#blogPost article ol,
  html section#doc article ol,
  body section#doc article ol,
  html section#documentation article ol,
  body section#documentation article ol,
  html section#projet article ol,
  body section#projet article ol {
    margin-left: 24px;
  }
  html section#blogPost article ol li::before,
  body section#blogPost article ol li::before,
  html section#doc article ol li::before,
  body section#doc article ol li::before,
  html section#documentation article ol li::before,
  body section#documentation article ol li::before,
  html section#projet article ol li::before,
  body section#projet article ol li::before {
    font-size: 4.5vw;
    margin-left: -17px;
    margin-right: 5px;
    padding: 1px;
    border: 1px solid blue;
  }
  html section#blogPost article ol li,
  body section#blogPost article ol li,
  html section#doc article ol li,
  body section#doc article ol li,
  html section#documentation article ol li,
  body section#documentation article ol li,
  html section#projet article ol li,
  body section#projet article ol li {
    font-size: 4.5vw;
    line-height: 5.5vw;
  }
  html section#blogPost article ol li p::first-letter,
  body section#blogPost article ol li p::first-letter,
  html section#doc article ol li p::first-letter,
  body section#doc article ol li p::first-letter,
  html section#documentation article ol li p::first-letter,
  body section#documentation article ol li p::first-letter,
  html section#projet article ol li p::first-letter,
  body section#projet article ol li p::first-letter {
    font-size: 4.5vw;
  }
  html section#blogPost article ol li strong,
  body section#blogPost article ol li strong,
  html section#doc article ol li strong,
  body section#doc article ol li strong,
  html section#documentation article ol li strong,
  body section#documentation article ol li strong,
  html section#projet article ol li strong,
  body section#projet article ol li strong {
    font-size: 4.5vw;
  }
  html section#blog article,
  body section#blog article {
    border-bottom: solid 1px white;
    padding-bottom: 12px;
  }
  html section#blog article h1,
  body section#blog article h1 {
    font-size: 13vw;
  }
  html section#blog article .date,
  body section#blog article .date {
    display: none;
  }
  html section#blog article .vignette,
  body section#blog article .vignette {
    display: none;
  }
  html section#blog article:hover .vignette,
  body section#blog article:hover .vignette {
    display: none;
  }
  html section#blogPost .article .date,
  body section#blogPost .article .date {
    font-size: 4vw;
  }
  html section#docs .grid article a .bloc-vignettes,
  body section#docs .grid article a .bloc-vignettes {
    display: none;
  }
  html section#docs .grid article a h1,
  body section#docs .grid article a h1 {
    width: 97%;
  }
  html section#apropos,
  body section#apropos {
    overflow: auto;
  }
  html section#apropos img.claire,
  body section#apropos img.claire {
    z-index: -100;
  }
}
