// out: responsive.css, sourcemap: false, compress: false


@unit: 12px;
@color2: #110F2E; // @color3: #66FF80; //vert
@color3: #110F2E;
@color4: blue;

@media screen and (min-width: 1380px) {
  section#documentation {
    h1 {
    }
    p {
      font-size: 1.5vw;
      line-height: 1.8vw;
    }
  }
  section#blogPost article p, section#projet article p, section#documentation article p {
    font-size: 1.4vw;
    line-height: 1.7vw;
    width: 80%;
  }
  section#documentation h2 {
    font-size: 1.6vw;
  }

}


@media screen and (max-width: 1150px) {
  body {
    section#blogPost,
    section#menu,
    section#projet,
    section#projets {
      .grid {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% ~'- 20px');

        .grid_item,
        .grid_sizer {
          width: 50%;
        }
      }
    }

    section#blogPost,
    section#doc,
    section#projet {
      .language {
        bottom: @unit*3;
        width: auto;
        height: @unit;
      }

      .goAfter,
      .goBefore {
        display: none;
      }
    }

    section#blog {
      article {
        h1 {
          font-size: 7vw;
        }

        .date {
          font-size: 2vw;
        }

        .vignette {
          display: none;
        }
      }

      article:hover {
        .vignette {
          display: none;
        }
      }
    }
  }
}





@media screen and (max-device-width: 600px) and (orientation: portrait) {

  html, body {
    width: 100%;
    overflow-y: scroll;
    height: auto !important;

    section#nav {
      // display: none;

        position: fixed;
        top: 0;
        width: 100%;
        overflow-x: hidden;
        height: 20px;
        border-bottom: 1px solid @color3;
        #menu {

          ul{
            li {
              float: left;
              h1{
                text-align: center;
                display: block;
                outline: none;
                &::before{
                  content: '≡ ';
                  text-align: left;
                  position: absolute;
                  left: @unit;
                }
              }
            }
            li:nth-of-type(1),
            li:nth-of-type(6),
            {
              float: none;
            }
          }

        h1 {
          margin-bottom: 4px;
        }

        ul {
          li.blog:before,
          li.documentations:before,
          li.projets:before {
            font-size: 1em;
          }
        }


      }
      .categories {
        display: none;
      }
      #licencescredits.licencescredits{
        z-index: -100;
        position: relative;
        padding-top: @unit*2;
      }
    }
    section#nav.mobileClicked{
      height: 100%;
      #menu {
        ul{
          li {
            h1::before{
              content: 'X ';
            }
          }
        }
      }
    }

    section#blogPost,
    section#menu,
    section#projet,
    section#documentation,
    section#projets,
    section#docs{
      z-index: 0;
      position: relative;
      overflow-x: hidden;
      margin-top: @unit * 4;
      width: 100% !important;
      .simplebar-track.horizontal{
        display: none;
        overflow-x: hidden;
      }
      .grid {
        width: calc(100% ~'- 5px');

        .grid_item,
        .grid_sizer {
          width: 100%;
        }
      }

    }

    section#blogPost,
    section#doc,
    section#documentation,
    section#projet {
      z-index: 0;
      position: relative;
      overflow-x: hidden;
      margin-top: @unit * 4;
      article {
        h1 {
          margin-left: @unit;
          margin-right: @unit;
          text-align: center;
          font-size: 14.5vw;
        }

        h2 {
          margin-left: @unit;
          margin-right: @unit * 1.5;
          margin-top: @unit;
          font-size: 8vw;
        }

        h3,
        h4,
        h5,
        h6 {
          font-size: 5.5vw;
        }

        pre {
          margin-bottom: @unit;
          margin-left: @unit;
          max-height: 60vh;

          code {
            font-family: "iA-regular";
            font-size: 4.5vw;
            line-height: 5.5vw;
          }
        }
        figure,
        iframe,
        p img,
        figure img{
          overflow-x: hidden;
          max-width: 100% !important;
          float: none;
          width: 100% !important;
        }
        p {
          width: 90%;
          font-size: 4.5vw;
          line-height: 5.5vw;
          margin-left: @unit;
          cite::first-line {
            margin-top: @unit;
          }

          cite {
            padding: @unit/4;
            font-size: 4.5vw;
            line-height: 5.5vw;

            a {
              font-family: "iA-regularItalic";
              font-size: 4vw;
            }
          }

          strong {
            margin-top: 40px;
            font-size: 4.5vw;
          }

          pre {
            margin-bottom: @unit;
            margin-left: @unit;
            max-height: 40vh;

            code {
              font-size: 4.5vw;
              padding-left: @unit;
              padding-right: @unit;
            }
          }
        }

        ul {
          margin-left: @unit;
          font-size: 4.5vw;
          line-height: 5.5vw;

          li::before {
            margin-left: -17px;
          }

          li {
            margin-left: 17px;
          }
        }

        figcaption {
          font-size: 4.5vw;
        }

        ol {
          margin-left: @unit*2;

          li::before {
            font-size: 4.5vw;
            margin-left: -17px;
            margin-right: 5px;
            padding: 1px;
            border: 1px solid blue;
          }

          li {
            p::first-letter {
              font-size: 4.5vw;
            }
            font-size: 4.5vw;
            line-height: 5.5vw;

            strong {
              font-size: 4.5vw;
            }
          }
        }
      }
    }

    section#blog {
      article {
        border-bottom: solid 1px white;
        padding-bottom: @unit;

        h1 {
          font-size: 13vw;
        }

        .date {
          display: none;
        }

        .vignette {
          display: none;
        }
      }

      article:hover {
        .vignette {
          display: none;
        }
      }
    }

    section#blogPost {
      .article {
        .date {
          font-size: 4vw;
        }
      }
    }

    section#docs .grid{
      article {
        a {
          .bloc-vignettes {
            display: none;
          }
          h1{
            width: 97%;
          }
        }
      }
    }
    section#apropos{
      overflow: auto;
      img.claire{
        z-index: -100;
      }
    }
  }
}
