@unit: 12px;
 @color1: #F3FF70; //jaune
//@color1: #09006B;
@color2: black;
// @color3: #04B45F;
@color3: #66FF80; //vert
@color4: #94D1FF; //bleu

html, body{
  height: 100%;
  overflow-y: hidden;
}

@font-face{
  font-family: "bien";
  src: url("fontes/Pr-IV-44-Ausg3.ttf");
  // src: url("fontes/din1451alt.ttf");
  // src: url("fontes/Bernardo-Moda-Bold.ttf");
  // src: url("fontes/fabrik.ttf");
  // src: url("fontes/Kanalisirung.otf");
  // src: url("fontes/Deutsche-Normalschrift-b.ttf");
  // src: url("fontes/Proletarsk.ttf");
  // src: url("fontes/TGL-0-17.ttf");
  // src: url("fontes/TGL12096.01.ttf");
  // src: url("fontes/Tschichold.ttf");
}

@font-face{
  font-family: "fruktur";
  src: url("fontes/Fruktur-Regular.ttf");
}

@font-face{
  font-family: "GL";
  src: url("fontes/GL-Nummernschild-Eng.ttf");
}

@font-face{
  font-family: "oldStandard";
  src: url("fontes/OldStandard-Regular.ttf");
}


body{
  display: flex;
  padding: 0px;
  background: black;
  h1 {
    /* text-transform: uppercase; */
    font-family: "bien";
    font-size: 1vw;
    letter-spacing: 0.1vw;
    padding: 6px;
  }
  section{
    width: auto;
    height: 100%;
    display: flex;
    flex-grow: 10;
    flex-direction: row;
    overflow-y: auto;
    flex-basis: auto;
  }
  section#projets,
  section#projet,
  section#postBlog,
  section#docs{
    a{
      text-decoration: none;
      color:@color2;
    }
    img{
      width: 100%;
      // filter: gray;
      // -webkit-filter: grayscale(1);
      // filter: grayscale(1);
    }
    article{
      margin: @unit/2;
      .metas{
        padding: @unit;
      }
    }
    .grid_item{
      width: calc(33% ~'-' @unit);
      h1:after{
        content: '';
      }
    }
    article.focus{
      width: calc(100% ~'-' @unit*2);
      display: block;
    }
  }

  section#docs{
    background: @color3;
    h1{
      font-family: 'fruktur';
      color: @color2;
      font-size: 1.1vw;
      line-height: 1.3vw;
      letter-spacing: 0.2vw;
    }
  }

  section#projet,
  section#postBlog{
  .goBefore{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
    width: auto;
    position: fixed;
    top: 0px;
    font-family: 'oldStandard';
    a{
      float: right;
      height: 100%;
      padding: 0px;
      cursor: w-resize;
    }
    a:hover{
      filter: grayscale(50%);
    }
    .documentation{
      background: @color3;
    }
    .blog{
      background: @color4;
    }
    .titleHover{
      img{
        width:@unit*8;
        height: auto;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
  .goAfter{
    border: 3px solid blue;
    height: 100%;
    position: fixed;
    top: 0px;
    text-transform: uppercase;
    word-break: break-all;
    font-family: 'bien';
    font-size: 25px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    a{
      color: white;
      padding: @unit/2;
      text-align: justify;
      cursor: e-resize;
    }
    a:hover{
      filter: grayscale(50%);
    }
    .documentation{
      background: @color3;
      border-bottom: 2px dotted @color2;
    }
    .blog{
      background: @color4;
      border-bottom: 2px dotted @color2;
    }
    .titleHover{
      img{
        position: relative;
        left: -110px;
        width:@unit*8;
        height: auto;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}

  section#projet{
    border: 3px solid red;
    background: white;
    a{
      text-decoration: none;
      color: @color2;
    }
    article{
      flex-grow: 5;
      h1{
        top:0px;
        width: 100%;
        font-size: 4.3vw;
        padding-top: @unit;
        padding-left: 0px;
        padding-right: 0px;
        position: fixed;
        text-align: center;
        text-transform: uppercase;
        background-color: white;
        border-bottom:2px solid @color2;
        }
      p{
        width: 80%;
        font-family: 'oldStandard';
        font-size: 1.8vw;
        line-height: 2vw;
        z-index: 1;
        text-indent: @unit*4;
        margin-left:@unit*4;
        padding-bottom: @unit;
      }
      p:nth-of-type(1){
        margin-top:@unit*10;
      }
      img{
        width: 60%;
        padding-bottom: @unit;
        padding-left:0px;
        z-index: 10;
        filter: none;
        -webkit-filter: none(1);
        filter: none(1);
        float: right;
      }
      img:nth-of-type(odd){
        float: left;
      }
      h3{
        font-family:'oldStandard';
        // transform: rotate3d(29,22,3,45deg);
        font-size: 0.9vw;
        line-height: 1.1vw;
        float: right;
        text-align: right;
        display: inline;
        width: @unit*20;
        margin-top: @unit*4;
        padding-right: 1vw;
        z-index: 1;
      }
      h3:nth-of-type(odd){
        float: left;
        padding-left: 1vw;
        display: inline;
        text-align: left;
      }
    }
  }

  section#postBlog{
  background: white;
    a{
      text-decoration: none;
    }
    article{
      position: relative;
        h1{
          font-family: 'bien';
          text-transform: uppercase;
          margin-left: 0px;
          height: auto;
          font-size: 4.3vw;
          cursor:pointer;
          display: inline;
          // padding-bottom: @unit*2;
          // padding-top: @unit*2;
        }
        h1:hover{
          text-decoration: underline;
          text-decoration-color: @color4;
        }
        h2{
          font-family: 'bien';
          font-size: 4.3vw;
          display: inline-block;
          color: @color4;
        }
        .vignette{
          height:3vw;
          width: auto;
          display: inline;
          filter: url(../img/blog/color.svg#vignette);
        }
      .article{
          .language{
            cursor: pointer;
            position: fixed;
            background: white;
            bottom: 0px;
            outline: 2px solid @color2;
            width:@unit*3;
            height: @unit*3;
            vertical-align: middle;
            text-align: center;
            font-family: "bien";
            font-size: 1.6vw;
          }
          .up{
            outline: 2px solid @color2;
            background: white;
            width:@unit*3;
            height: @unit*3;
            bottom: 0px;
            margin-left: @unit*3;
            position: fixed;
            vertical-align: middle;
            text-align: center;
          }
          .up:hover{
          }
        h3{
          font-family: 'bien';
          font-size: 2.3vw;
          text-indent: @unit*4;
          margin-left:@unit*4;
          padding-top: @unit*2;
          padding-bottom: @unit;
        }
        h4{
          font-family: 'oldStandard';
          font-size: 1.8vw;
          text-transform: uppercase;
          text-decoration: underline;
          text-indent: @unit*4;
          margin-left:@unit*4;
        }
        p{
          width: 80%;
          font-family: 'oldStandard';
          font-size: 1.8vw;
          line-height: 2vw;
          text-indent: @unit*4;
          margin-left:@unit*4;
          padding-bottom: @unit;
        }
        img{
          text-align: right;
          width: 45%;
          height:auto;
          padding-bottom: @unit;
        }
        img:nth-of-type(odd){
          float: right;
          padding-left: @unit;
        }
        border-bottom: @unit*3 solid @color4;
        padding-bottom: @unit*3;
      }
    }
  }

  #apropos{
    h1{
      font-size: 2vw;
    }
    a:visited{
      text-decoration: none;
      color: black;
    }
    a:hover{
      color:white;
    }
  }

  #nav.infosProjet{
    //   padding: @unit;
    //   flex-grow: 2;
    ul,
    li,
    h1{
      display: inline;
      cursor: pointer;
    }
    //   h1{
    //     font-size: 2vw;
    //     border-bottom: 2px solid @color1;
    //     border-right: 1px solid @color1;
    //   }
    //   h1:hover{
    //     background: @color1;
    //     color: white;
    //   }
    //   ul{
    //     display: block;
    //     cursor: pointer;
    //     font-family: 'oldStandard';
    //     font-size: 2vw;
    //     margin-top: @unit*3;
    //     li:hover{
    //       color: grey;
    //     }
    //     // span{
    //     // //  vertical-align: text-top;
    //     //   font-family: 'oldstandard-bold';
    //     //   padding-left: @unit*2;
    //     // }
    //     // span:nth-of-type(1){
    //     //   padding-left: @unit*0;
    //     // }
    //   }
    //   p{
    //     font-family: 'rubik-medium';
    //     line-height: 1.45vw;
    //     text-indent: @unit*3;
    //     margin-left: @unit*2;
    //     margin-right: @unit;
    //   }
    //   p:nth-of-type(1){
    //     padding-top:@unit*2;
    //   }
    li:not(.visible):not(:nth-of-type(1)){
      display: none;
    }
    #documentation{
        display: inline;

      }
  }

  section#nav{
    line-height: @unit*2;
    padding: 10px 10px;
    background: @color3;
    flex-grow: 4;
    @font-size: 18px;

    h1:before{
      content: '◖ ';
      color: white;
    }
    h2{
      margin-top: @font-size;
      margin-bottom: @font-size;
      font-family: "bien";
      font-size: @font-size*1.5 !important;
      color: @color2;
      display: none;
      padding-top: @unit;
      padding-bottom: @unit;
      outline: 1px solid @color2;
    }
    h2:before {
      content: "- ";
    }
    h2:after{
      content:" -";
    }
    ul,
    li,
    h1{
      display: inline-block;
      cursor: pointer;
    }
    h1{
      font-family: "bien";
      display: inline-block;
      text-transform: uppercase;
      font-size: @font-size !important;
      text-indent: 0%;
      padding: 0 20px;
    }
    h1:hover{
    }
    ul{
      display: inline-block;
      cursor: pointer;
      font-family: 'oldStandard';
      font-size: @font-size;
      li{
        padding: 0 5px;
      }
      li:not(:nth-of-type(1)){
        display: inline-block;
      }
      li:hover{
        color: white;
      }
    }
    p{
      font-family: 'rubik-medium';
      line-height: 1.45vw;
      text-indent: @unit*3;
      margin-left: @unit*2;
      margin-right: @unit;
    }
    p:nth-of-type(1){
      padding-top:@unit*2;
    }
    #categories{
      ul.categorie{
        display: inline;
      }
    }
    #documentation{
      display: none;
      article.grid_item{
        height: 45px;
        width: 32%;
        display: inline-block;
        text-align: center;
        margin-top: @unit;
        h1 {
          font-family: 'oldStandard';
          letter-spacing: normal;
          text-transform: none;
          font-size: 0.9vw;
          float: left;
        }
        h1:before{
          content: none;
        }
        img{
          margin: 0 auto;
          height: 100%;
          filter: gray;
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          float: left;
        }
        img:hover{
          outline: 2px solid @color3;

        }
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
section#nav.docs{
    background-color: @color1;
}

// Scroll bar

[data-simplebar] {
  position:relative;
  z-index:0;
  overflow:hidden;
  -webkit-overflow-scrolling:touch
}

[data-simplebar=init] {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}

.simplebar-scroll-content {
  overflow-x:hidden;
  overflow-y:scroll;
  min-width:100%;
  box-sizing:content-box
}

.simplebar-content {
  overflow-x:scroll;
  overflow-y:hidden;
  box-sizing:border-box;
  min-height:100%
}

.simplebar-track {
  z-index:1;
  position:absolute;
  right:0;
  bottom:0;
  width:11px
}

.simplebar-scrollbar {
  position:absolute;
  min-height:10px;
  width:@unit;
  opacity:1;
  -webkit-transition:opacity .2s linear;
  transition:opacity .2s linear;
  background:white;
  // border-bottom-left-radius: 100px;
  // border-bottom-right-radius: 100px;
  background-clip:initial
}

section:hover{
  .simplebar-scrollbar {
  cursor: grabbing;
  opacity:1;
  -webkit-transition:opacity 0 linear;
  background:white !important;
  transition:opacity 0 linear

  }
  .simplebar-track.vertical {
    background:@color2
  }
}

.simplebar-track .simplebar-scrollbar.visible {
  opacity:1;
}

.simplebar-track.horizontal {
  left:0;
  width:auto;
  height:11px
}

.simplebar-track.vertical {
  top:0;
  background:@color2;
}


.horizontal.simplebar-track .simplebar-scrollbar {
  right:auto;
  top:0px;
  height:7px;
  min-height:0;
  min-width:10px;
  width:auto;
}
